@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* // confirmation screen for when someone submits a movie *@
@model Movie
<h2>Movie Submission Received</h2>

@if (Model.Year < 1888) // user restriction for the year input on the form
{
    <h2>Invalid input. Please input a year after 1888.</h2>
}
