@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Created a header included and image that links to the baconsalesite and included links for Joel's hobbies'
 *@
 <h1>Get to Know Joel</h1>
<br/>
<h3>Joels Hobbies</h3>
<br />
<ul>
    <a href="https://www.qwcomedy.com/"
    <li>Quick Wits Comedy</li></a>
    <br />
    <a href="https://baconsale.com/"
    <li> Baconsale Site</li></a>
</ul>
<h2>Baconsale's Team</h2>
<a href="https://baconsale.com/">
<img src="~/lib/baconsalekate.jpg" height="400" width="500" />
</a>


