@{
    ViewData["Title"] = "Home Page";
}
@* // home page that has a title and image of Joel Hilton *@
<div>
<h1>The Joel Hilton Film Collection</h1>
<br/>
<img src="~/joelhiltonheadshot.jpg" />
</div>
